<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

{% if pwned %}
    <h6>
        {{ password }} has been pwned {{count}} times. You should probably try again. Consider choosing longer password, numbers or special characters
    </h6>   
    {% else %}
    <h6>
    {{password}} has never been pwned. It is safe to use
    </h6>   
{% endif %}